.main {
	background: #ffffff;
	box-shadow: 4px 0px 4px rgba(229, 239, 252, 0.8);
	border-radius: 25px 0px 0px 25px;
	padding: 25px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 0;
}
